<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>

<form method="post" accept-charset="utf-8" data-th-action="@{/createanimaux}" data-th-object="${createanimaux}">

	<label>Creation d'un animal</label>
	
	<input type="text" value="" placeholder="Nom" data-th-field="*{nom}">
	<input type="text" value="" placeholder="Description" data-th-field="*{description}">
	<select name="Regime">
	
	<option value="carnivore">carnivore</option>
	<option value="herbivore">herbivore</option>
	
	</select>
	
	<select name="Espece">
	
	<option value="1">Félidé</option>
	<option value="2">Équidé</option>
	<option value="3">Artiodactyla</option>
	<option value="4">Chien</option>
	<option value="5">Mustalidé</option>
	<option value="6">munidé</option>
	
	</select>
	
	<span data-th-errors="*{nom}"></span>
	<span data-th-text="${ notFound }"></span>
	
	<button type="submit">Envoyer</button>
	
</form>

</body>
</html>