<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ajouter animal</title>
</head>
<body>

<form method="post" accept-charset="utf-8" data-th-action="@{/animal}" data-th-object="${animal}">

	<label>Nom de l'animal</label>
	
	<input type="text" value="" data-th-field="*{nom}">
	<span data-th-errors="*{nom}"></span>
	<span data-th-text="${ notFound }"></span>
	
	<input type="submit">
	
</form>
		<table>

	<thead>
		<tr>
	      <th>Nom de l'animal</th>
	      <th>Nom de l'espece</th>
	      <th>Régime alimentaire</th>
		</tr>
	</thead>
  
    <tr data-th-each="A : ${ NomAnimal }">
    	<td data-th-text="${ A.nom }">#</td>
      	<td data-th-text="${ A.espece.nom }">#</td>
      	<td data-th-text="${ A.regime }">#</td>
    </tr>

</table>
	

</body>
</html>