
<!-- MVC : VUE -->

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	
	<table>

	<thead>
		<tr>
	      <th>Nom de l'animal</th>
	      <th>Nom de l'espece</th>
	      <th>Régime alimentaire</th>
	      <th>Lien</th>
		</tr>
	</thead>
		
		    <tr data-th-each="A : ${ ListAnimaux }">
		    <form method="post" accept-charset="utf-8" data-th-action="@{/animaux}" data-th-object="${animal}">	
		    	<td data-th-text="${ A.nom }">#</td>
		      	<td data-th-text="${ A.espece.nom }">#</td>
		      	<td data-th-text="${ A.regime }">#</td>
		      	<td>	
		      	<input type="hidden" name="nom" data-th-value="${ A.nom }"/>
		      	<input type="hidden" name="description" data-th-value="${ A.description }"/>
		      	<input type="hidden" name="regime" data-th-value="${ A.regime }"/>
		      	<input type="hidden" name="especeNom" data-th-value="${ A.espece.nom }"/>
		      	<input type="hidden" name="especeID" data-th-value="${ A.espece.id }"/>
				<input type="submit" value="Infos">
				</td>
			</form>
		    </tr>

</table>

<p data-th-text="${ nom }"></p>
<p data-th-text="${ description }"></p>
<p data-th-text="${ regime }"></p>
<p data-th-text="${ especeNom }"></p>
<div data-th-each="S : ${ soigneur }">
	<form method="post" accept-charset="utf-8" data-th-action="@{/animaux}" data-th-object="${animal}">
		<input type="hidden" name="nomSoigneur" data-th-value="${ S.nom }"/>
		<p data-th-text="${ S.nom }"></p>
		<input type="submit" value="Suprimer">
	</form>
	
	<form method="get" accept-charset="utf-8" data-th-action="@{/createsoigneur}">
		<input type="hidden" name="numero" data-th-value="${ S.numero }"/>
		<!-- <input type="hidden" name="dateRecrutement" data-th-value="${ dateRecrutement }"/> -->
		<input type="submit" value="Ajouter">
	</form>
</div>




    
</body>
</html>