<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<form method="post" accept-charset="utf-8" data-th-action="@{/createsoigneur}" data-th-object="${soigneur}">

	<label>Creation d'un soigneur</label>
	
	<input type="text" value="" placeholder="Nom" data-th-field="*{nom}">
	<input type="text" value="" placeholder="numero" data-th-field="*{numero}">
	<input type="date" data-date-format="YYYY-MM-DD" value="" placeholder="Date" data-th-field="*{date}">
	
	<span data-th-errors="*{nom}"></span>
	
	<span data-th-text="${ Validation }"></span>
	
	<input type="submit" value="Envoyer">
	
</form>

</body>
</html>