<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<a href="/animaux" data-th-href="@{ animaux }">Liste des animaux</a>
<br>
<a href="/soigneur" data-th-href="@{ soigneur }">Liste des soigneurs</a>
<br>
<a href="/animal" data-th-href="@{ animal }">rechercher un animal</a>
<br>
<a href="/createsoigneur" data-th-href="@{ createsoigneur }">Creation d'un soigneur</a>
<br>
<a class="" href="/createanimaux" data-th-href="@{ createanimaux }">Creation d'un animal</a>

</body>
</html>

